<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>{CLIENT_ID}.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.{CLIENT_ID}</string>
	<key>API_KEY</key>
	<string>{API_KEY}</string>
	<key>GCM_SENDER_ID</key>
	<string>398495014315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.meedu.facebookAuthExample</string>
	<key>PROJECT_ID</key>
	<string>flutter-fauth-example</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fauth-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398495014315:ios:b8883a23005f919258c6ee</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-fauth-example.firebaseio.com</string>
</dict>
</plist>